body {
	position: fixed;
	inset: 0;
	display: grid;
	grid-template:
		'menu-area	header-area		header-area	' max-content
		'menu-area	container-area	aside-area	' 1fr
		'menu-area	footer-area		footer-area	' max-content
		/ max-content 1fr max-content
	;
}

input#toggle-menu + label[for="toggle-menu"] {
	grid-area: container-area;
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border-style: none solid solid none;
	border-width: var(--size-large-standart);
	border-color: transparent var(--color-highlight);
}

input#toggle-menu:checked + label[for="toggle-menu"] {
	border-color: transparent var(--color-foreground);
}

header {
	grid-area: header-area;
}

input#toggle-menu:not(:checked) ~ header {
	display: none;
}

input#toggle-menu:not(:checked) ~ menu {
	display: none;
}

input#toggle-menu:not(:checked) ~ footer {
	display: none;
}

menu {
	grid-area: menu-area;
	z-index: 1;
	box-shadow: calc(var(--size-serpator) / 4) 0 var(--size-serpator) calc(var(--size-serpator) / 4) var(--color-shadow);
	min-width: 20vmax;
	max-width: 30vmin;
}

div#workspace {
	grid-area: container-area;
	overflow: hidden;
}

canvas#preview {
	box-shadow: 0 0 var(--size-serpator) calc(var(--size-serpator) / 4) var(--color-shadow);
}

footer {
	grid-area: footer-area;
	height: calc(var(--size-large-standart) * 2);
	overflow: auto hidden;
}

button.filter img {
	max-width: initial;
}

dialog.loader img[alt="Logo"] {
	content: url(../resources/loading.gif);
}